# Module 3: Data Structures Assignments

In [1]:
### Assignment 1: Creating and Accessing Tuples

# Create a tuple with the first 10 positive integers. Print the tuple.

tpl = tuple(range(1, 11))
print(tpl)

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

In [7]:
### Assignment 2: Accessing Tuple Elements

# Print the first, middle, and last elements of the tuple created in Assignment 1.


print(tpl[0]);
print(tpl[len(tpl)//2])
print(len(tpl))

1
6
10

In [15]:
### Assignment 3: Tuple Slicing

# Print the first three elements, the last three elements, and the elements from index 2 to 5 of the tuple created in Assignment 1.

print(tpl[0:3])
print(tpl[-3:])
print(tpl[2:5])

(1, 2, 3)
(8, 9, 10)
(3, 4, 5)

In [18]:
### Assignment 4: Nested Tuples

# Create a nested tuple representing a 3x3 matrix and print the matrix. 
# Access and print the element at the second row and third column.


nestedTpl = (
    (1,2,3),
    (4,5,6),
    (7,8,9)
)

print(nestedTpl[1][2])

6

In [19]:
### Assignment 5: Tuple Concatenation

# Concatenate two tuples: (1, 2, 3) and (4, 5, 6). Print the resulting tuple.

concat_tpl = (1,2,3) + (4,5,6)
print(concat_tpl)

(1, 2, 3, 4, 5, 6)

In [21]:
### Assignment 6: Tuple Methods

# Create a tuple with duplicate elements and count the occurrences of an element. 
# Find the index of the first occurrence of an element in the tuple.

tpl2 = (1,2,3,1,2,3,1)
print(tpl2.count(1))
print(tpl2.index(1))

3
0

In [22]:
### Assignment 7: Unpacking Tuples

# Create a tuple with 5 elements and unpack it into 5 variables. Print the variables.

a,b,c,d,e,f = (1,2,3,4,5,6)
print(a,b,c,d,e,f)

1 2 3 4 5 6

In [25]:
### Assignment 8: Tuple Conversion

# Convert a list of the first 5 positive integers to a tuple. Print the tuple.

list = [1,2,3,4,5]

print(tuple(list))

(1, 2, 3, 4, 5)

In [26]:
### Assignment 9: Tuple of Tuples

# Create a tuple containing 3 tuples, each with 3 elements. Print the tuple of tuples.

print(
    (
        (1,2,3),
        (4,5,6),
        (7,8,9)
    )
)

((1, 2, 3), (4, 5, 6), (7, 8, 9))

In [42]:
### Assignment 10: Tuple and List

# Create a tuple with the first 5 positive integers. 
# Convert it to a list, append the number 6, and convert it back to a tuple. Print the resulting tuple.

tpl3 = (1,2,3,4,5)
tpl3ToList = [(tpl3)]
tpl3ToList.append(6)
tupleAgain = tuple(tpl3ToList)
print(tupleAgain)

((1, 2, 3, 4, 5), 6)

In [46]:
### Assignment 11: Tuple and String

# Create a tuple with the characters of a string. Join the tuple elements into a single string. Print the string.

stringTuple = ('1','2', '3')
print(str(''.join(stringTuple)))

123

In [48]:
### Assignment 12: Tuple and Dictionary

# Create a dictionary with tuple keys and integer values. Print the dictionary.

dict = {
    ('1' ) : 1,
    ('2' ): 2
}
print(dict)

{'1': 1, '2': 2}

In [51]:
### Assignment 13: Nested Tuple Iteration

# Create a nested tuple and iterate over the elements, printing each element.

nestedTpl = ((1,2,3), (4,5,6))

for tpl in nestedTpl:
    for i in tpl:
        print(i)

1
2
3
4
5
6

In [52]:
### Assignment 14: Tuple and Set

# Create a tuple with duplicate elements. Convert it to a set to remove duplicates and print the resulting set.

x = (1,2,3,1,2,3)
print(set(x))

{1, 2, 3}

In [54]:
### Assignment 15: Tuple Functions

# Write functions that take a tuple and return the minimum, maximum, and sum of the elements. 
# Print the results for a sample tuple.

def calc(tpl):
    minm = min(tpl)
    maxm = max(tpl)
    fsum = sum(tpl)
    return (minm, maxm, fsum)

print(calc((1,2,3,4,5,6)))

(1, 6, 21)